<form method="post" action="{{ path('app_metodos_delete', {'id': metodo.id}) }}" onsubmit="return confirm('¿Eliminar método?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ metodo.id) }}">
    <button class="btn btn-danger">Eliminar</button>
</form>
