{% extends 'base.html.twig' %}

{% block title %}Editar Metodos{% endblock %}

{% block body %}
    <h1>Editar método</h1>

    {{ include('metodos/_form.html.twig', {'button_label': 'Actualizar'}) }}

    <a href="{{ path('app_metodos_index') }}">Regresar</a>

    {{ include('metodos/_delete_form.html.twig') }}
{% endblock %}
