{% extends 'base.html.twig' %}

{% block title %}Editar Flores{% endblock %}

{% block body %}
    <h1>Editar Flores</h1>

    {{ include('flores/_form.html.twig', {'button_label': 'Actualizar'}) }}

<div class="d-flex">
    {{ include('flores/_delete_form.html.twig') }}
    <a href="{{ path('app_flores_index') }}"class="btn btn-secondary">Regresar</a>
</div> 
    
{% endblock %}
