{% extends 'base.html.twig' %}

{% block title %}Nueva flor{% endblock %}

{% block body %}
    <h1>Nueva flor</h1>

    {{ include('flores/_form.html.twig') }}

    <a href="{{ path('app_flores_index') }}" class="btn btn-secondary">Regresar</a>
    <style>
        a.btn.btn-secondary {
            margin-top: 10px;
        }
    </style>
{% endblock %}