{% extends 'base.html.twig' %}

{% block title %}New Flores{% endblock %}

{% block body %}
    <h1>Create new Flores</h1>

    {{ include('flores/_form.html.twig') }}

    <a href="{{ path('app_flores_index') }}">back to list</a>
{% endblock %}
