<form method="post" action="{{ path('app_compras_delete', {'id': compra.id}) }}" onsubmit="return confirm('¿Eliminar este registro?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ compra.id) }}">
    <button class="btn btn-danger">Eliminar</button>
</form>
