{% extends 'base.html.twig' %}

{% block title %}New Compras{% endblock %}

{% block body %}
    <h1>Create new Compras</h1>

    {{ include('compras/_form.html.twig') }}

    <a href="{{ path('app_compras_index') }}">back to list</a>
{% endblock %}
