{% extends 'base.html.twig' %}

{% block title %}Nueva compra{% endblock %}

{% block body %}
    <h1>Nueva compra</h1>

    {{ include('compras/_form.html.twig') }}

    <a href="{{ path('app_compras_index') }}" class="btn btn-secondary">Regresar</a>
        
{% endblock %}
