<form method="post" action="{{ path('app_clientes_delete', {'id': cliente.id}) }}" onsubmit="return confirm('¿Eliminar cliente?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ cliente.id) }}">
    <button class="btn btn-danger">Eliminar</button>
</form>
