{% extends 'base.html.twig' %}

{% block title %}Editar cliente{% endblock %}

{% block body %}
    <h1>Editar cliente</h1>

{{ include('clientes/_form.html.twig', {'button_label': 'Actualizar'}) }}

<div class="d-flex">
    {{ include('clientes/_delete_form.html.twig') }}
    <a href="{{ path('app_clientes_index') }}" class="btn btn-secondary">Regresar</a>
</div> 

{% endblock %}
