{% extends 'base.html.twig' %}

{% block title %}Nuevo cliente{% endblock %}

{% block body %}
    <h1>Nuevo cliente</h1>

    {{ include('clientes/_form.html.twig') }}
    <a href="{{ path('app_clientes_index') }}" class="btn btn-secondary">Regresar</a>
    
{% endblock %}
